@mixin div-transparency {
    background-color: none;
    background-image: none;
}

@mixin textstyle-none {
    list-style: none;
    text-decoration: none;
}

@mixin zero-margin-padding {
    padding: 0;
    margin: 0;
}


html {
    font-size: 18px;
}

// *,
// *:before,
// *:after {
//     box-sizing: border-box;
// }

body {
    background-color: $c-white;
    margin: 0;
    padding: 0;
    // width: 100vw;
}












