// Colors Variables 

$c-white:#FAFAFA;
$c-blue:#3B6FCC;
$c-black: #1A1A1A;
$c-bluegradient: linear-gradient(#2F5CAC,#3B6FCC);
// $c-prefooter: linear-gradient(#2F5CAC,#3B6FCC);
$c-orangegradient: linear-gradient(#FFb836,#f5a623);
$c-orange:#f5a623;
$c-darkblue:#203F77;
$c-shadow:#c9c9c9;


// Typography Variables

$h-fontfamily: "heebo", helvetica, sans-serif;
$p-fontfamily: "source sans pro", helvetica, sans-serif;

$t-light:300;
$t-regular: 400;
$t-medium: 500;
$t-semibold: 600;
$t-bold: 900;

// Values

$value: 1rem;

// Media Queries

$mq-small: 340px;
$mq-medium: 768px;
$mq-large: 1024px; 
