.footer {
  // align-content: baseline;
  // width: 100vw;
  background: $c-black  ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width:$mq-small) {
      flex-direction: column;
  }

  &_nav_logo {
      display: flex;
      align-items: center;
      padding: 3rem;
  }

  &_nav_logo img {
    height: 100px;
    width: 100px;
    // position: absolute;
    // left: 5%;
  }

  &_elements {
    font-size: 0.9rem;
    color: $c-white;
    font-family: $p-fontfamily;
    display: flex;
    flex-direction: column; 

    &_items {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        @media screen and (max-width:$mq-small) {
            flex-direction: column;
        }

        }


        &_text {
            // @include h3style;
            margin: 0 $value;

            @media screen and (max-width:$mq-small) {
                padding: $value; 
            }
        }

        &_social {
            display: flex;
            flex-direction: row;
            margin: 0 $value;

            &_icon {
                @include textstyle-none;
            }

            &_icon img {
                @media screen and (max-width:$mq-small) {
                    width: 60px;
                    height: 60px;
                    padding: 0 $value;
                    
                }
            }
        }

        }
}

.footer_elements_items-adress,
.footer_elements_items-tel {
    margin: 1rem 2.5rem;
}

.footer_elements_items-time {
    margin: 1rem 5rem 1rem 2.5rem;
}






