.hero {
    margin: 12rem 0 0 7.125rem;
    width: 66vw;

    &_title {
        font-family: $h-fontfamily;
        font-weight: $t-bold;
        font-size: 3.8rem;
        @include zero-margin-padding;
    }

    &_cta {
        font-family: $p-fontfamily;
    }
}
