.main_landing {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.main_landing-bg {
    background-image: url("../images/pics/hero_landing.png");
    background: linear-gradient(rgba(43, 43, 43, 0.84),rgba(72, 72, 72, 0.84));
}

.visible {
	display: block;
}

.hide {
	display: none;
}

.h3 {
    color: red;
}