.nav {
    // text-transform: uppercase;
    align-items: center;
    background-image:$c-bluegradient;
    display: flex;
    font-family: $p-fontfamily;
    font-size: 1rem;
    height: 5rem;
    justify-content: space-between;
    margin: 0;
    padding: 0 7.125rem;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    

    &_logo {
        height: 60px;
    }

    &_list {
        align-items: center;
        color: $c-white;
        display:flex;
        font-weight: $t-regular;
        
    }

    &_link:hover {
        font-weight: $t-bold;
        color: $c-white;
        
        }

    &_item {
        @include textstyle-none;
        padding: 0 1.5rem;
        
    }

    &_link {
        @include textstyle-none;
        color: $c-white;
       
        
    }
}
