.nav {
    // text-transform: uppercase;
    align-items: center;
    background-image: $c-bluegradient;
    display: flex;
    font-family: $p-fontfamily;
    font-size: 1rem;
    height: 5rem;
    justify-content: space-between;
    margin: 0;
    padding: 0 7.125rem;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    @media screen and (max-width:$mq-large) {
        justify-content: space-around;
        padding: 0 2rem;
    }

    @media screen and (max-width:$mq-medium) {
        justify-content: space-around;
        padding: 0 1rem;
    }

    @media screen and (max-width:$mq-small) {
        padding: 0 1rem;
        font-size: 0.75rem;
    }
    

    &_logo {
        height: 60px;

        @media screen and (max-width:$mq-medium) {
            display: none;
        }
    }

    &_list {
        align-items: center;
        color: $c-white;
        display:flex;
        font-weight: $t-regular;

        @media screen and (max-width:$mq-small) {
            padding: 0 0.25rem;
        }
        
    }

    &_link:hover {
        font-weight: $t-bold;
        color: $c-white;
        
        }

    &_item {
        @include textstyle-none;
        padding: 0 1.5rem;
        
    }

    &_link {
        @include textstyle-none;
        color: $c-white;
       
        
    }
}
