.prefooter {

       
    // flex-wrap: wrap;
    // padding-left: 6.45rem;
    // padding-right: 6.45rem;
    align-items: center;
    background-image: $c-prefooter;
    color: $c-white; 
    display: flex;
    flex-direction: row;
    height: 16.5rem;
    justify-content: flex-start;
    margin: 0; 
    max-width: 100vw;
    padding: 1.5rem 6.45rem;
}

.prefooter.text {

    @include div-transparency;    
    align-items:flex-start;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    &.item &.button {

        padding-left: 1.5rem;
        // padding-top: 0;
        // padding-bottom: 0;


    }


  
   
    

}





