.sheet {
    margin: 0;

    &_title {
        @include h3style;
    }

    &_divider {
        font-family: $p-fontfamily;
        font-weight: $t-bold;
        @include h6style;
        line-height: $value;
        
    }

    &_link,
    &_download {
        @include textlink-style;
        @include textstyle-none;
    }

    &_modules {
        display: flex;
        align-items: baseline;
        justify-content: space-around;

        &-block {
        padding: 1rem 1rem 1rem 0;
        }
    }

      &_claim {
        @include claimstyle;
    }

    &_modules-block p {
        line-height: 1.5rem;
    }

    &_modules-block ul {
        @include textstyle-none;
        @include zero-margin-padding;
    }

    &_modules-blocklil {
        @include zero-margin-padding;       
    }
}

.banner {
    // width: 100vw;
    background-image: url("../images/pics/english_divider.jpg");       
    // background: linear-gradient(rgba(43, 43, 43, 0.1),rgba(72, 72, 72, 0.3));
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    height: 25vh;
    margin: 4rem 7.125rem;
}
