.side {
    width: 15vw;    
    position: fixed;

    top: 10rem;
    left: 80vw;
    margin-right: 0.8rem;
    font-family: $p-fontfamily;
    color: $c-black;
    font-weight: $t-light;
    border: 3px solid $c-darkblue;
    background-color: $c-white;
    padding: 1.5rem;

    &.fixed {
        position: absolute;
        top: initial;
        bottom: 2rem;
    }
    

    &_info-title {
        font-weight: $t-semibold;
    }
}
