@import 'settings';



.footer {
        // align-content: baseline;
    // width: 100vw;
    background-image: $c-footer;
    font-size: 0.80rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;

}


.footer.items {

    background-color: none;
    background-image: none;
    display: flex;
    flex-flow: column wrap;
}

.footer.item {

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: none;
    background-image: none;

}

.footer.item.info {
    background-color: none;
    background-image: none;
    flex-wrap: wrap;
    margin:1.5rem;

}

.footer.item.two {

    background-color: none;
    background-image: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;


}

.social {
    
    background-color: none;
    background-image: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin:0 1.5rem 1.5rem 1.5rem;

}

.footer.text {
    background-color: none;
    background-image: none;
    color: $c-typographyother;


}



.logo {
    background-image: none;
    padding: 1.5rem;
    
}

// .footer.logo .img.logo {
//     width: 100px;
//     height: 100px;
//     margin: 5%;
// }

// .footer.item.one {
//     display: inline-flex;
//     flex-wrap: wrap;
//     min-width: 100vw;
//     justify-content: center;
//     background-image: none;
//     // margin: 2%;
// }

// .footer.direction,
// .footer.telefono,
// .footer.horario {
//     display: flex;
//     flex-wrap: wrap;
//     // align-items: flex-start;
//     background-image: none;
//     padding: 2%;
// }

// .footer .footer.itemtwo {
//     display: inline-flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     background-image: none;
//     // align-content: flex-end;
// }


// .footer.text {
//     display: flex;
//     flex-wrap: wrap;
//     background-image: none;
// }

// .footer.social {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     margin: 3%;
//     background-image: none;
// }



