.prefooter {

    background-image: $c-prefooter;
    color: $c-background; 
    height: 16.5rem;
    max-width: 100vw;
    padding-left: 6.45rem;
    padding-right: 6.45rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    // flex-wrap: wrap;
    margin: 0; 
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    // padding-left: 6.45rem;
    // padding-right: 6.45rem;
       
}

.prefooter.text {

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items:flex-start;
    text-align: left;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    background-image: none;
    
    &.item &.button {

        padding-left: 1.5rem;
        // padding-top: 0;
        // padding-bottom: 0;


    }


  
   
    

}





