// Typography Styles 






ul,
a {
    color:$c-white;   
    // text-decoration: none;
}

.quote {

    font-family: $p-fontfamily;
    font-size: $quote-size;
    line-height: $quote-height;
    font-weight: $t-regular;
}
