@import 'settings';


.footer {

    background-image: $c-footer;
    max-width: 100vw;
    height: 28.5rem;
    padding-left: 6.45rem;
    padding-right: 6.45rem;
    display: flex;
    // justify-content: space-between;
    flex-wrap: nowrap;

    &.item {

        margin: 1.5rem;
        display: flex;
        flex-direction: column;
        


        &.one {

            display: flex;
            flex-direction: row;
            // flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
        }


        &.two {

            text-align: center;
            padding: 1.5rem;
        }


        &.three {

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            padding-bottom: 6rem;

        }



    }
}