@import 'settings';


img {
    width: 100%;
    height:100%;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 7.5rem;
    max-width: 100vw;
    background-image: $c-menu;
    padding-left: 6.45rem;
    padding-right: 5.7rem;
}

    .menu.items {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        
        

        &.one {
    
                text-align: center; 
                font-family: $p-fontfamily;
                font-size: $button-fontsize;
                font-weight: $t-semibold;
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            
        }

    
}
        // font-family: source sans pro, helvetica, sans-serif;
        
    
        // font-size: 1.3rem;
        // font-weight: 600;

      

.menu.items.one:hover {

    // box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 8px 16px 0 rgba(0,0,0,0.19);
}


// // .menu.items:hover {
//     font-weight: 900;  

// }

ul {
   color: $c-typographyother;
}

a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


// .items {

    // // padding-left: 0.75rem;
    // padding-right:0.75rem;
    // font-family: $p-fontfamily;
    // font-size: $button-fontsize;
    // font-weight: $t-semibold;
    // // font-family: source sans pro, helvetica, sans-serif;
    // color: $c-typographyother;
    // font-size: 1.3rem;
    // font-weight: 600;

// }