@import 'settings';


.prefooter {

    align-items: center;
    background-color: $c-prefooter;
    color: $c-background; 
    display: flex;
    flex-direction: start;
    padding-left: 6.45rem;
    padding-right: 6.45rem;    
          
    &.cursos {

        margin-left: 1.5rem;
    }
}



