@import 'settings';




img {
   width: 100%;
   height:100%;
}

.prefooter {

   align-items: center;
   background-color: $c-prefooter;
   color: $c-background;
   display: flex;
   justify-content: flex-start;
   padding-left: 6.45rem;
   padding-right: 6.45rem;    
         
   &.cursos {

       margin-left: 1.5rem;
   }
}