// Colors Variables 

$c-background:#FAFAFA;
$c-sidenavigation:#3B6FCC;
$c-footer: linear-gradient(#1A1A1A, #595959);
$c-menu: linear-gradient(#2F5CAC,#3B6FCC);
$c-prefooter: linear-gradient(#2F5CAC,#3B6FCC);
$c-buttonaction: linear-gradient(#FF5B32,#E7522C);
$c-typography: #1A1A1a;
$c-typographyother: #FAFAFA;


// Typography Variables

$h1-family: Heebo;
$h1-fontweight: bold;
$h1-size: 4rem;
$h1-lineheight:4,5rem;


$h2-family: Heebo;
$h2-fontweight: medium;
$h2-size: 2.3rem;
$h2-lineheight: 3rem;

$h3-family: source sans pro;
$h3-fontweight: 400;
$h3-size: 1.8rem;
$h3-lineheight: 2.3rem;

$h6-family: source sans pro;
$h6-fontweight: 600;
$h6-size: 1rem;
$h6-lineheight: 1.5rem;

$p-family: source sans pro;
$p-fontweight: 400;
$p-size: 1rem;
$p-lineheight:1.5rem;


