// Colors Variables 

$c-background:#FAFAFA;
$c-sidenavigation:#3B6FCC;
$c-footer: linear-gradient(#1A1A1A, #595959);
$c-menu: linear-gradient(#2F5CAC,#3B6FCC);
$c-prefooter: linear-gradient(#2F5CAC,#3B6FCC);
$c-buttonaction: linear-gradient(#FF5B32,#E7522C);
$c-typography: #1A1A1a;
$c-typographyother: #FAFAFA;


// Typography Variables

$h1-family: Heebo;
$h1-fontweight: bold;
$h1-size: 4rem;
$h1-lineheight:4,5rem;


$h2-family: Heebo;
$h2-fontweight: medium;
$h2-size: 2.3rem;
$h2-lineheight: 3rem;

$h3-family: source sans pro;
$h3-fontweight: 400;
$h3-size: 1.8rem;
$h3-lineheight: 2.3rem;

$h6-family: source sans pro;
$h6-fontweight: 600;
$h6-size: 1rem;
$h6-lineheight: 1.5rem;

$p-family: source sans pro;
$p-fontweight: 400;
$p-size: 1rem;
$p-lineheight:1.5rem;

$button-family: source sans pro;
$button-fontsize: 1.3rem;
$button-fontweight: 600;



html {
    font-size: 18px;
}


h1 {
    font-family: $h1-family;
    font-weight: $h1-fontweight;
    font-size: $h1-size;
    line-height: $h1-lineheight;
}

h2 {

    font-family: $h2-family;
    font-weight: $h2-fontweight;
    font-size: $h2-size;
    line-height: $h2-lineheight;
}

h3 {

    font-family: $h3-family;
    font-weight: $h3-fontweight;
    font-size: $h3-size;
    line-height: $h3-lineheight;
}

h6 {
    font-family: $h6-family;
    font-weight: $h6-fontweight;
    font-size: $h6-size;
    line-height: $h6-lineheight;
}

p {
    font-family: $p-family;
    font-weight: $p-fontweight;
    font-size: $p-size;
    line-height: $p-lineheight;
}


img {
    width: 100%;
    height:100%;
}


.button {

    background-color: $c-buttonaction;
    border-radius: 4px;
    color: $c-typographyother;
    display: inline-block;
    font-family: $button-family;
    font-size: $button-fontsize;
    font-weight: $button-fontweight;
    height: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    
    
}