// Colors Variables 

$c-background:#FAFAFA;
$c-sidenavigation:#3B6FCC;
$c-footer: linear-gradient(#1A1A1A, #595959);
$c-menu: linear-gradient(#2F5CAC,#3B6FCC);
$c-prefooter: linear-gradient(#2F5CAC,#3B6FCC);
$c-buttonaction: linear-gradient(#FFb836,#f5a623);
$c-textaction:#f5a623;
$c-buttontext:#203F77;
$c-typography: #1A1A1a;
$c-typographyother: #FAFAFA;
$c-shadow:#c9c9c9;


// Typography Variables

$h-fontfamily: "heebo", helvetica, sans-serif;
$p-fontfamily:"source sans pro", helvetica, sans-serif;

$t-regular: 400;
$t-semibold: 600;

$h1-size: 4rem;
$h1-lineheight:4,5rem;


$h2-size: 2.3rem;
$h2-lineheight: 3rem;

$h3-fontweight: 400;
$h3-size: 1.8rem;
$h3-lineheight: 2.3rem;

$h6-size: 1rem;
$h6-lineheight: 1.5rem;

$p-size: 1rem;
$p-lineheight:1.5rem;

$quote-size: 2.5rem;
$quote-height: 3rem;



// Values

$value: 1rem;


$button-fontsize: 1.3rem;





html {
    font-size: 18px;
}


img {
    width: auto;
    height: auto;
}

body {
    box-sizing: border-box;
    background-color: $c-background;
    margin: 0;
    max-width: 100vw;
}



// Typography Styles 

h1,
h2,
h6 {
    font-family: $h-fontfamily;
    font-weight: $t-semibold;
    text-decoration: none;
}

h3,
h6,
p,
li,
ul {
    font-family: $p-fontfamily;
}

li,
ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


h3,
p,
li {
    font-weight: $t-regular;
}


h1 {
    font-size: $h1-size;
    // line-height: $h1-lineheight;
    line-height: $p-lineheight;
}

h2 {
    font-size: $h2-size;
    // line-height: $h2-lineheight;
    line-height: $p-lineheight;
}

h3 {
  
    font-size: $h3-size;
    // line-height: $h3-lineheight;
    line-height: $p-lineheight;
}

h6 {
    font-size: $h6-size;
    line-height: $h6-lineheight;
}

p {
    font-size: $p-size;
    line-height: $p-lineheight;
}

ul,
a {
    color:$c-typographyother;   
    text-decoration: none;
}

.quote {

    font-family: $p-fontfamily;
    font-size: $quote-size;
    line-height: $quote-height;
    font-weight: $t-regular;
}



// Button Styles

.button {
    
        background-image: $c-buttonaction;
        border-radius: 4px;
        color: $c-buttontext;
        display: inline-block;
        font-family: $p-fontfamily;
        font-size: $button-fontsize;
        font-weight: $t-semibold;
        padding: 1rem 1.5rem;
        text-align: center;
        text-decoration: none;
        border: none;
        width: 13rem;
        margin: 0;
        
        
    }

    .button:hover {
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 8px 16px 0 rgba(0,0,0,0.19);
    }


