.sidenavbar {
    position: fixed;
    z-index: 1;
    top: 13.5rem;
    left: 75vw;
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 50vh;
    padding-left: 1.5rem;
    margin: 1rem;

}

.sidenavbar--info {

    // line-height: 0.5rem;
    background-color: $c-sidenav;
    border-radius: 4px;
    box-shadow: 0.25rem 0.25rem 1rem $c-shadow;
    justify-content: space-around;
    padding: 1.5rem;
}

.info {
    color: $c-white;
}
